<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>게시판 - 게시글</title>
</head>
<style type="text/css">
    table, thead, tbody { border: 1px solid #000000;border-collapse:collapse; }
    th, td { border:1px solid #000000;padding:10px; }
    tfoot { text-align:right; }
</style>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("btnList").addEventListener("click", function() {
            window.location.href = "./boardList.do";
        });

        document.getElementById("btnRemove").addEventListener("click", function() {
            if(confirm("해당 글을 삭제하시겠습니까?") == true) {
                window.location.href = "./deleteBoard?uuid=" + getParameter("uuid");
            }
        });

        document.getElementById("btnModify").addEventListener("click", function() {
            window.location.href = "./boardModify.do?uuid=" + getParameter("uuid");
        });
    });

    var getParameter = function(param) {
        let returnValue;
        let url = location.href;
        let parameters = (url.slice(url.indexOf("?") + 1, url.length)).split("&");
        for(let i = 0; i < parameters.length; i++) {
            let varName = parameters[i].split("=")[0];
            if(varName.toUpperCase() === param.toUpperCase()) {
                returnValue = parameters[i].split("=")[1];
                return decodeURIComponent(returnValue);
            }
        }
    }
</script>
<body>
<table>
    <tbody>
    <tr>
        <th>제목</th>
        <td th:text="${boardTitle}"></td>
    </tr>
    <tr>
        <th>작성자</th>
        <td th:text="${writeId}"></td>
    </tr>
    <tr>
        <th>작성일</th>
        <td th:text="${boardContent}"></td>
    </tr>
    <tr>
        <th>내용</th>
        <td th:text="${registryDate}"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">
            <button type="button" id="btnList">리스트</button>
            <button type="button" id="btnRemove">글삭제</button>
            <button type="button" id="btnModify">글수정</button>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>