<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>게시판 - </title>
</head>
<style type="text/css">
    table, thead, tbody, tfoot { border:1px solid #000000;border-collapse:collapse; }
    tfoot { text-align:right; }
    th, td { border:1px solid #000000;padding:10px; }
</style>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("btnModify").addEventListener("click", function() {
            submitPostModify();
        });
    });

    function submitPostModify() {

        if(document.getElementsByName("postTitle")[0].value.replace(/\s/gi, "") == "") {
            alert("제목을 입력하지 않았습니다.\n제목을 입력해 주세요.");
            document.getElementsByName("postTitle")[0].focus();
            return false;
        }

        document.getElementById("formPostRevise").method = "POST";
        document.getElementById("formPostRevise").action = "./updatePost";
        document.getElementById("formPostRevise").submit();
    }
</script>
<body>
<h3>글 수정</h3>
<form id="formPostRevise">
    <input type="hidden" name="postUuid" th:value="${postUuid}"/>
    <table>
        <tbody>
        <tr>
            <th>ID</th>
            <td>
                <input type="text" name="writeId" th:value="${writeId}" readonly/>
            </td>
        </tr>
        <tr>
            <th>제목</th>
            <td>
                <input type="text" name="postTitle" th:value="${postTitle}"/>
            </td>
        </tr>
        <tr>
            <th>내용</th>
            <td>
                <textarea name="postContent" th:text="${postContent}"></textarea>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                <button id="btnModify" type="button">글수정</button>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
</body>
</html>