<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>게시판 - 신규 글 등록</title>
</head>
<style type="text/css">
    table, thead, tbody, tfoot { border:1px solid #000000;border-collapse:collapse; }
    tfoot { text-align:right; }
    th, td { border:1px solid #000000;padding:10px; }
</style>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {

        document.getElementById("btnList").addEventListener("click", function() {
            history.back();
        });

        document.getElementById("btnRegistry").addEventListener("click", function() {
            submitBoardRegistry();
        });
    });

    function submitBoardRegistry() {

        if(document.getElementsByName("postTitle")[0].value.replace(/\s/gi, "") === "") {
            alert("제목을 입력하지 않았습니다.\n제목을 입력해 주세요.");
            document.getElementsByName("exampleTitle")[0].focus();
            return false;
        }

        if(document.getElementsByName("postContent")[0].value.replace(/\s/gi, "") === "") {
            alert("내용을 입력하지 않았습니다.\n내용을 입력해 주세요.");
            document.getElementsByName("postContent")[0].focus();
            return false;
        }

        document.getElementById("formBoardWrite").method = "POST";
        document.getElementById("formBoardWrite").action = "./insertPost";
        document.getElementById("formBoardWrite").submit();
    }
</script>
<body>
<h3>신규글 등록</h3>
<form id="formBoardWrite">
    <!-- 사용자 ID는 임시로 'user'를 고정으로 사용 -->
    <input type="hidden" name="writeId" value="user_id"/>
    <table>
        <tbody>
        <tr>
            <th>제목</th>
            <td>
                <label><input type="text" name="postTitle" value=""/></label>
            </td>
        </tr>
        <tr>
            <th>내용</th>
            <td>
                <label><textarea name="postContent"></textarea></label>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                <button id="btnList" type="button">리스트</button>
                <button id="btnRegistry" type="button">글등록</button>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
</body>
</html>